body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.eco_rural_navbar_container {
  background-image: url("Ecorural_background/mainbg.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  /* width: 100%; */
  height: 100%;
}
.eco_para{
  justify-content: center;
  color: white;
}
.eco_para p{
  margin-top: 150px;
  text-align: center;
  /* margin-top: 150px; */
  color: white;
}
.eco_rural_text_container {
  margin-top: 300px;
}
.eco_rural_text_container p {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: white;
  font-weight: bold;
}
.eco_rural img {
  width: 100%;
}
/* parent div */
.kynthong_village{
  gap: 20px;
border: solid;
display: flex;
padding: 50px;
justify-content: center;

}
.kynthong_map{
  border: solid;
}
.kynthong_heading{
  border: solid;
}
.kynthong_heading h2{
  border: solid;
}
.kynthong_heading p{
  text-align: justify;
  border: solid;
}

.kynthong_img_container{
  width: fit-content;
  border: solid;
}
.img_container_ecorural_tour{
    border: solid;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}
.img_container_ecorural_tour img{
    border: solid;
    text-align: center;
}
.align_straight{
  gap: 50px;
  color: red;
  border: solid;
  padding: 50px;
  justify-content: center;
}

.living_root_bridges p{
  width: fit-content;
  border: solid;
  text-align: justify;
}
.living_root_bridges h1{
  border: solid;
  width: fit-content;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4.5px;
  font-variation-settings:
    "wdth" 100;
}
.syntein_img_container{
  /* justify-content: center; */
  padding: 50px;

}
.syntein_img_container img{
  /* text-align: center; */
  width: 100%;
  
}
.double_decker_living_root_bridges{
  border: solid;
  margin-top: 60px;
  justify-content: center;
  
}
.double_decker_living_root_bridges h2{
  justify-content: center;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4.5px;
  font-variation-settings:
    "wdth" 100;
}
/* .assistant-<uniquifier> {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.double_decker_living_root_bridges p{
  border: solid;
  width: fit-content;
  text-align: justify;
  /* width: 182vh; */
  line-height: 35px;
  /* font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal; */

}
.double_decker_living_root_bridges img{
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
.triple_decker_living_root_bridges{
margin-top: 60px;

}
.triple_decker_living_root_bridges h2{
  border: solid;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4.5px;
  font-variation-settings:
    "wdth" 100;
}
.triple_decker_living_root_bridges P{
  text-align: justify;
  line-height: 35px;
  
}
.triple_decker_living_root_bridges img{
  width: 100%;
}
.world_longest_living_root{
  margin-top: 60px;
}
.world_longest_living_root h2{
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4.5px;
  font-variation-settings:
    "wdth" 100;
}
.world_longest_living_root p{
  text-align: justify;
  line-height: 35px;
}
.world_longest_living_root img{
  width: 100%;
}


/* umden_parent_div */

/* umden_parent_div */
