body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.navbar {
  /* border: solid; */
}
/* navbar background image */
.navbar-container {
  background-image: url("https://images.unsplash.com/photo-1698478224765-b1fb60f32b16?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Set your background image URL */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  padding: 20px; /* Add some padding to the container if needed */
}

/* navbar background image */
.navbar nav ul {
  list-style: none;
  /* list-style: none; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
}

.navbar nav ul li {
  align-items: center;
  margin-right: 20px; /* Spacing between list items */
  display: flex; /* Make sure each list item is a flex item */
  position: relative; /* Needed for pseudo-element positioning */
}

.navbar nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.navbar nav ul li a {
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-decoration: none;
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  padding: 10px 20px; /* Padding for each list item */
  position: relative; /* Needed for pseudo-element positioning */
}

.navbar nav ul li a::before {
  content: ""; /* Add content to the pseudo-element */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initially, set width to 0 */
  height: 3px; /* Height of the line */
  background-color: #9c0000; /* Color of the line */
  transition: width 0.3s ease; /* Transition effect for width only */
  z-index: -1; /* Ensure the line stays behind the text */
}

.navbar nav ul li a:hover::before {
  width: 100%; /* Expand the width to 100% on hover */
}
.navbar nav ul li img {
  margin-right: 10px; /* Spacing between logo and text */
  height: 100px;
  width: 100px;
}
/* text_container */
.text_container {
  text-align: center;
  /* width: fit-content; */
  color: white;
}
.text_container h1 {
  /* background-color: #161616; */
  font-size: 100px;
  margin-top: 200px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}
/* text_container */

/* form_booking_container */
.form_booking_container {
  /* border: solid; */
  align-items: center;
}
.form_booking_container {
  width: 100%; /* Adjust width as needed */
  /* padding: 20px; */
  margin: auto; /* Center the container */
  border-radius: 10px; /* Rounded corners */
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.5)
  ); /* Gradient background */
  filter: blur(0); /* Initially no blur */
  position: relative; /* Needed for absolute positioning */
}
.form_booking_container {
  width: fit-content; /* Adjust width as needed */
  padding: 20px; /* Add padding inside the container */

  background-color: rgba(
    240,
    240,
    240,
    0.8
  ); /* Background color with opacity */
  border-radius: 10px; /* Rounded corners */
  margin: auto; /* Center the container */
}
.form_booking_container {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center; /* Center the form on the page */
  margin-top: 20px; /* Adjust as needed */
}

/* .form_booking_container option input datalist select {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #9c0000;
} */
/* Style the input fields and select */

input[type="text"],
input[type="date"],
select {
  /* text-align: center; */
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 20px;
  padding-left: 20px;
  margin-right: 10px; /* Space between elements */
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners */
  box-sizing: border-box;
}
input[type="text"]::after {
  background-color: white; /* White background */
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
select option {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: white; /* White background */
}
/* input[type="text"] {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
} */

/* Style the submit button */
button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 20px;
  background-color: #403840;
  color: white;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
}

/* Button hover effect */
button:hover {
  background-color: #403855;
}
/* form_booking_container */

/* trees_image */
.trees_image {
  /* border: solid; */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 5vh;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-wrap: nowrap;
}

/* Style for the image */
.trees_image img {
  /* border: solid; */
  width: 100%;
  height: auto;

  /* max-width: 100%;
  height: 200px; */
}
/* trees_image */
/* tours_and_travels */
.tours_and_travels h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.tours_and_travels {
  /* border: solid; */
  margin-top: 100px;
}
/* tours_and_travels */
/* gallery */
/* Style for the gallery container */
.gallery {
  margin-left: 10px;
  padding: 20px;
  display: flex; /* Use flexbox to create a two-column layout */
  justify-content: space-between; /* Distribute space between the text and images */
  align-items: center; /* Vertically align items in the center */
}
.gallery hr {
  /* margin-right: 50vh; */
  width: 35%;
  height: 2px; /* Set the height of the line */
  background-color: #333; /* Set the background color */
  border: none; /* Remove default border */
  margin: 20px 0; /* Add margin for spacing */
  opacity: 0.8;
  /* margin-left: 60px; */
}
/* Style for the go_beyond_text container */
.go_beyond_text h4 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  /* margin-left:60px ; */
  /* flex: 1; */
  text-align: left; /* Align the text to the left */
}
.go_beyond_text h2 {
  /* border: solid; */
  /* margin-left: 60px; */
}
.go_beyond_text {
  /* border: solid; */
  margin-left: 150px;
  /* width: auto; */
  /* flex: 1; */
  text-align: left; /* Align the text to the left */
}

/* Style for the gallery_images container */
.gallery_images {
  margin-left: 50px;
  /* border: solid; */
  position: relative;
  display: flex; /* Use flexbox to layout the images */
  gap: 10px; /* Add space between images */
  flex: 2; /* Allow this element to take up 2 portions of the container */
}
.explore_more {
  /* position: absolute; */
  /* align-items: end; */
  margin-top: 400px;
}

/* Style for the images */
.gallery_images img {
  max-width: 300px; /* Allow images to adjust their width based on available space */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Rounded corners for images */
}
/* Style for the image container */
.image_container {
  position: relative; /* Position the container relative to its contents */
  display: inline-block; /* Treat each container as an inline block */
}

/* Style for the images */
.image_container img {
  width: 100%; /* Adjust the width as needed */
  height: 400px; /* Maintain aspect ratio */
  display: block; /* Ensure the image is displayed as a block */
}

/* Style for the text overlay */
.image_text {
  position: absolute; /* Position the text absolutely within the container */
  bottom: 50px; /* Position the text 10px from the bottom */
  right: 10px; /* Position the text 10px from the right */
  color: white; /* Set the text color to white for better contrast */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  padding: 5px; /* Add padding around the text */
  border-radius: 5px; /* Optional: Rounded corners for the text background */
  font-size: 25px; /* Adjust the font size as needed */
  font-family: sans-serif; /* Specify the font family */
}
.image_text_title {
  position: absolute; /* Position the text absolutely within the container */
  bottom: 10px; /* Position the text 10px from the bottom */
  right: 10px; /* Position the text 10px from the right */
  color: white; /* Set the text color to white for better contrast */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  padding: 5px; /* Add padding around the text */
  border-radius: 5px; /* Optional: Rounded corners for the text background */
  font-size: 14px; /* Adjust the font size as needed */
  font-family: sans-serif; /* Specify the font family */
}

/* gallery */
/* news_blog */
.news_blog {
  /* border: solid; */
  margin-top: 50px;
  text-align: center;
}
.news_blog h3 {
  /* color: #9c0000; */
  font-size: 25px;
}
.news_blog h1 {
  /* color: #9c0000; */
  font-size: 30px;
  font-weight: bold;
}

.news_blog hr {
  margin: 0 auto;
  width: 15%; /* Adjust the width as needed */
  height: 2px;
  background-color: #333;
  border: none;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* news_blog */
/* container_course */
.Discover_learn_overcome h4 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  /* margin-left:60px ; */
  /* flex: 1; */
  text-align: left; /* Align the text to the left */
}
.Discover_learn_overcome {
  /* border: solid; */
  margin-left: 150px;
  /* width: auto; */
  /* flex: 1; */
  text-align: left; /* Align the text to the left */
}
.Discover_gallery {

  /* margin-left: 100%; */
  padding: 20px;
  display: flex; /* Use flexbox to create a two-column layout */
  justify-content: space-between; /* Distribute space between the text and images */
  align-items: center; /* Vertically align items in the center */
}
.Discover_gallery hr {
  /* margin-right: 50vh; */
  width: 100%;
  height: 2px; /* Set the height of the line */
  background-color: #333; /* Set the background color */
  border: none; /* Remove default border */
  margin: 20px 0; /* Add margin for spacing */
  opacity: 0.8;
  /* margin-left: 60px; */
}
.Discover_gallery_images {
  margin-left: 50px;
  margin-right: 60px;
  /* border: solid; */
  position: relative;
  display: flex; /* Use flexbox to layout the images */
  gap: 10px; /* Add space between images */
  flex: 2; /* Allow this element to take up 2 portions of the container */
}
.Discover_image_container {
  position: relative; /* Position the container relative to its contents */
  display: inline-block; /* Treat each container as an inline block */
}
.Discover_image_container img {
  width: 100%; /* Adjust the width as needed */
  height: 400px; /* Maintain aspect ratio */
  display: block; /* Ensure the image is displayed as a block */
  border-radius: 5px;
}
.Discover_image_text {
  position: absolute; /* Position the text absolutely within the container */
  bottom: 50px; /* Position the text 10px from the bottom */
  right: 10px; /* Position the text 10px from the right */
  color: white; /* Set the text color to white for better contrast */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  padding: 5px; /* Add padding around the text */
  border-radius: 5px; /* Optional: Rounded corners for the text background */
  font-size: 25px; /* Adjust the font size as needed */
  font-family: sans-serif; /* Specify the font family */
}
.Discover_image_text_title {
  position: absolute; /* Position the text absolutely within the container */
  bottom: 10px; /* Position the text 10px from the bottom */
  right: 10px; /* Position the text 10px from the right */
  color: white; /* Set the text color to white for better contrast */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  padding: 5px; /* Add padding around the text */
  border-radius: 5px; /* Optional: Rounded corners for the text background */
  font-size: 14px; /* Adjust the font size as needed */
  font-family: sans-serif; /* Specify the font family */
}
.Discovery_gallery img {
  max-width: 300px; /* Allow images to adjust their width based on available space */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: Rounded corners for images */
}
/* container_course */

/* Basic styling for the carousel */
.carousel {
  margin-left: 100px;
  padding: 50px;
  margin-right: 100px;
  height: 100px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow */
  position: relative;
}

/* Wrapper for the images */
.carousel-inner {
  display: flex; /* Use flexbox for layout */
  transition: transform 0.5s linear;
  animation: scroll 5s linear infinite; /* Infinite loop animation */
}

/* Each image styling */
.carousel-inner img {
  width: auto;
  height: 100px; /* Match the carousel height */
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%); /* Adjust as needed */
  }
}
/* affilliate_company */
/* Coming_soon */
.Coming_soon{
  text-align: center;
}
/* Coming_soon */
/* clouds */
.clouds img{
  align-content: center;
  /* margin-left: 50px; */
  width: 100%;
  /* border: solid; */
}
.clouds{
/* border: solid; */
}
/* clouds */
/* testtimonials */
.testtimonials {
text-align: center;
}
.testtimonials img{
  display: inline-block;
  margin: 0 20px;
  /* aye lyrics */
}
/* testtimonials */
/* footer */
.footer {
  background-color: #161616;
  padding: 20px;
}

/* Column layout */
.footer-columns {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 50px;
}

/* Column styles */
.footer-column {
  margin-right: 20px;
}
.footer-column p {
  color: grey;
}
.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}
.footer-column a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.footer-column3 p{
  color: grey;

}
.footer-column3 h3{
font-size: 16px;
}

/* Image styles */
.footer-image {
  display: block;
  width: 100px; /* Adjust image width as needed */
  margin-bottom: 10px;
}

/* Text below image */
.footer-image-text {
  font-size: 20px;
  /* font-family: ; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  color: white;
  font-size: 14px;
  /* text-align: center; */
}

/* Social media links */
.social-media {
  margin-top: 50px;
  text-align: left;
}

.social-media a {
  color: white;
  /* margin-left: 10px; */
}
.social-media i {
  color:  red;
  /* border: solid; */
  height: 50px;
  width: 50px;
  /* margin-left: 10px; */
}

.footer-column3{
  margin-top: 50px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .footer-columns {
      flex-direction: column;
  }

  .footer-column {
      margin-bottom: 20px;
      margin-right: 0;
  }
}
/* footer */